body {
    background-color: slategray;
}
img {
    margin: 0px;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    text-align: center;
    margin: 10px;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}
h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
    text-shadow: 0px 0px 8px black;
    margin: 0px;
}
#card {
    margin: auto;
    position: relative;
    background-color: bisque;
    border-style: solid;
    border-radius: 15px;
    width: 400px;
}
.card_footer {
    width: 400px;
    margin: auto;
    position: static;
    margin-top: 10px;
    padding: 0px;
}
#card_counter {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    padding: 0px 4px;
    position: relative;
    float: left;
    width: 50px;
}
#button_next {
    width: 200px;
    padding: 0px 4px;
    background-color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    float: right;
    text-align: center;
    cursor: pointer;
}
#button_next:hover {
    background-color: cornflowerblue;
}
.card_table {
    color: black;
    text-align: center;
    margin: auto;
}
.card_table_row {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 1px solid black;
}
.card_table_cell {
    margin: 10px;
    width: 120px;
    height: 70px;
}
